build
build_linux
managed_components
webgui/node_modules
sdkconfig
sdkconfig.old
debug.log
main/images/build
main/images_generated.hdependencies.lock
main/images_generated.h
main/ui/lv_i18n.c
main/ui/lv_i18n.h
dependencies.lock
cert_priv_key.pem
cert_pub_key.pem
cert_pub_key0.pem
enc_key.bin
CLAUDE.md
claude-ask.md
remote-ui.md
remote-ui-client.md
esp-hosted-c6-slave
